[submodule "tracking3d"]
	path = tracking3d
	url = https://github.com/Ruthrash/tracking3d
[submodule "darknet_ros"]
	path = darknet_ros
	url = https://github.com/Ruthrash/darknet_ros
[submodule "ros_openpose"]
	path = ros_openpose
	url = https://github.com/Ruthrash/ros_openpose
[submodule "robocup_msgs"]
	path = robocup_msgs
	url = https://github.com/jacques-saraydaryan/robocup_msgs
[submodule "ros_face_recognition"]
	path = ros_face_recognition
	url = https://github.com/Ruthrash/ros_face_recognition
[submodule "tracking_3d_ekf"]
	path = tracking_3d_ekf
	url = https://github.com/Ruthrash/tracking_3d_ekf
[submodule "openpose"]
	path = openpose
	url = https://github.com/Ruthrash/openpose
[submodule "tracking_3d_pose_pf"]
	path = tracking_3d_pose_pf
	url = https://github.com/Ruthrash/tracking_3d_pose_pf
